<section class="aboutAs">
    <div class="container aboutAs__content">
        <div class="aboutAs__img" style="background-image: url('/images/aboutAs_img.png')">
            
        </div>
        <div class="aboutAs__info">
            <div class="aboutAs__box">
                <p>ОО «Производственно-коммерческая фирма «Политара» занимается производством и реализацией бумажной упаковки с 2002 года. Мощности предприятия расположены в Украине, г. Славутич на собственной территории 6,5 гектар. Производственная площадь составляет 3,5 тыс. м2, складские помещения – 1,5 тыс. м2. Количество сотрудников достигло 130 человек.
                На предприятии установлено автоматическое оборудование мирового лидера фирмы «Windmoller & Holscher» (Германия).
                В 2015 году ООО «ПКФ «Политара» внедрила и поддерживает систему менеджмента качества ISO 9001:2008 и систему менеджмента безопасности пищевых продуктов ISO 22000:2005.
                За годы работы у нас сложился квалифицированный состав сотрудников и четко отлажены механизмы производства и логистики на предприятии. Если вы хотите приобрести экологически чистую упаковку из высококачественного сырья, то мы с легкостью поможем Вам на любом этапе производства. Месячный объем производства составляет 11 млн./шт.</p>
            </div>
        </div>
    </div>
</section>