<section class="activies">
	<div class="container">
		<div class="activies__content">
			<div class="inBoxBreadcrumb__content">
			    <ol class="breadcrumb">
			      <li><a href="#">Главная</a></li>
			      <li class="active">Виды деятельности</li>
			    </ol>
			</div>
			<h3></h3>
			<div class="activies__info">
				<p>ООО «ПКФ «Политара» предлагает регулярные и бесперебойные поставки бумажных мешков и пакетов для фасовки пищевых и не пищевых продуктов, таких как: сахар, мука, крахмал, цемент, сухие строительные смеси, уголь, каолин, комбикорм, а также для химической продукции и других сыпучих продуктов.
     			На производстве используется автоматическое оборудование мирового лидера «WINDMÖLLER & HÖLSCHER», «Garantmaschinen» Германия.</p>
				<h4>ЭТАПЫ ИЗГОТОВЛЕНИЯ БУМАЖНЫХ МЕШКОВ</h4>
			</div>			
		</div> 
	</div>
</section>