<section class="category-product">
	<div class="container">
		<div class="category-product__content">
			<div class="inBoxBreadcrumb__content">
			    <ol class="breadcrumb">
			      <li><a href="#">Главная</a></li>
			      <li class="active">Продукты</li>
			      <li class="active">Название продукта</li>
			    </ol>
			</div>
			<h3>Название продукта</h3>
			<div class="category-product__subcategory row">
				<div class="subcategory__item col-xs-12 col-sm-6 col-md-6">
					<div class="item__img" style="background-image: url('images/sub_category_1.jpg')">
						<a href="" class="overlay"></a>
					</div>
					<a href="#" class="item__name third after">Для цемента</a>
				</div>
				<div class="subcategory__item col-xs-12 col-sm-6 col-md-6">
					<div class="item__img" style="background-image: url('images/sub_category_2.jpg')">
						<a href="" class="overlay"></a>
					</div>
					<a href="#" class="item__name third after">Для цемента</a>
				</div>
				<div class="subcategory__item col-xs-12 col-sm-6 col-md-6">
					<div class="item__img" style="background-image: url('images/sub_category_3.jpg')">
						<a href="" class="overlay"></a>
					</div>
					<a href="#" class="item__name third after">Для цемента</a>
				</div>
			</div>			
		</div> 
	</div>
</section>