<section class="certificates">
	<div class="container">
		<div class="certificates__content">
			<div class="inBoxBreadcrumb__content">
			    <ol class="breadcrumb">
			      <li><a href="#">Главная</a></li>
			      <li class="active">О компании</li>
			    </ol>
			</div>
			<h3>Сертификаты</h3>
			<div class="sertificates__info">
				<p>ООО «ПКФ «Политара» заботится о надежности своей продукции и оценке ее качества. Опыт свидетельствует о том, что также гарантией качественной продукции является сертификация.</p>
				<p>В 2015 году ООО «ПКФ «Политара» внедрила и поддерживает систему менеджмента качества ISO 9001:2008 и систему менеджмента безопасности пищевых продуктов ISO 22000:2005. Использование ИСО 9001:2008 гарантирует, что потребители получат продукцию и услуги стабильно хорошего качества. Сертификация ISO 22000:2005 дает уверенность потребителям в безопасности продуктов питания.</p>
				<p>Также компания  с 2008 года  проходит сертификацию СЭС, которая подтверждает соответствие готовой продукции и технических условий, по которым производится продукция, установленным требованиям, гигиеническим нормам и санитарным правилам, а также служит официальным подтверждением безопасности продукции для здоровья человека.  </p>
			</div>			
		</div> 
	</div>
</section>