<section class="slider">
	
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
		  <!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
			</ol>

		  <!-- Wrapper for slides -->
			<div class="carousel-inner">
				<div class="item active">
					<div class="wrapper__img">
						<div class="item__img" style="background-image: url('/images/Image_Slider.jpg')"></div>
						<div class="item__info">
							<h2>надежная упаковка</h2>
							<h3>вашего успеха</h3>
						</div>
					</div> 
				</div>

				<div class="item">
					<div class="wrapper__img">
						<div class="item__img" style="background-image: url('/images/Image_Slider.jpg')"></div>
						<div class="item__info">
							<h2>надежная упаковка</h2>
							<h3>вашего успеха</h3>
						</div> 
					</div>
					
				</div>

				<div class="item">
					<div class="wrapper__img">
						<div class="item__img" style="background-image: url('/images/Image_Slider.jpg')"></div>
						<div class="item__info">
							<h2>надежная упаковка</h2>
							<h3>вашего успеха</h3>
						</div>
					</div> 
					
				</div>
			</div>

		  <!-- Left and right controls -->
			<a class="left carousel-control" href="#myCarousel" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#myCarousel" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
</section>
<section class="products">
	<div class="container">
		<div class="row products__content">
			<div class="col-md-4 products__item-asc box-style">
				<div class="products__item_img" style="background-image: url('/images/Image_1.jpg')">
					
				</div>
				<div class="products__item_info">
					<h3>Бумажные мешки</h3>
					<p>Данная упаковка позволяет продуктам "Дышать" тем самым продлевая им</p>
					<a href="">Подробнее</a>
				</div>
			</div>
			<div class="col-md-4 products__item-odd box-style">
				<div class="products__item_info">
					<h3>бумажные пакеты</h3>
					<p>На производстве используется автоматическое оборудование</p>
					<a href="">подробнее</a>
				</div>
				<div class="products__item_img" style="background-image: url('/images/Image_2.jpg')">
					
				</div>
			</div>
			<div class="col-md-4 products__item-asc box-style">
				<div class="products__item_img" style="background-image: url('/images/Image_3.jpg')">
					
				</div>
				<div class="products__item_info">
					<h3>клей</h3>
					<p>Экологически чистый продукт не наносящий вреда окружающей среде</p>
					<a href="">подробнее</a>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="brands">
	<div class="container brands__content">
		<div class="row">
			<div class="col-custom brands__item" >
				<img src="/images/Partner_logo_1.png">
			</div>
			<div class="col-custom brands__item">
				<img src="/images/Partner_logo_2.png">
			</div>
			<div class="col-custom brands__item">
				<img src="/images/Partner_logo_3.png">
			</div>
			<div class="col-custom brands__item">
				<img src="/images/Partner_logo_4.png">
			</div>
			<div class="col-custom brands__item">
				<img src="/images/Partner_logo_5.png">
			</div>
		</div>
	</div>
</section>
<section class="sertificats">
	<div class="container sertificats__wrapper">
		<div class="row sertificats__content">
			<div class="col-md-6 sertificats__info box-style">
				<h5>ЭКОЛОГИЧЕСКАЯ УПАКОВКА</h5>
				<p>Бумажная упаковка - экологически чистый продукт не наносящий вреда окружающей среде даже при её утилизации или вторичной переработки. Данная упаковка позволяет продуктам "Дышать" тем самым продлевая им "Жизнь".</p>
				<div class="sertificate__logo clearfix">
					<img src="/images/iso.png" alt="" class="logo__item">
					<img src="/images/iso-2.png" alt="" class="logo__item">
				</div>
			</div>
			<div class="col-md-3 sertificats__img__wrapper_1 box-style" >
				<div class="squares"></div>
				<div class="sertificats__img_1" style="background: url('/images/Image_5.jpg')"></div>
			</div>
			<div class="col-md-3 sertificats__img__wrapper_2 box-style" >
				<div class="sertificats__img_2" style="background: url('/images/Image_4.jpg')"></div>
			</div>
		</div>
	</div>
</section>