<section class="prodcuts">
	<div class="container">
		<div class="productsDescription__content">
			<div class="inBoxBreadcrumb__content">
			    <ol class="breadcrumb">
			      <li><a href="#">Главная</a></li>
			      <li class="active">О компании</li>
			    </ol>
			</div>
			<h3>Продукция</h3>
			<div class="products__info">
				<p>Бумажная упаковка - экологически чистый продукт не наносящий вреда окружающей среде даже при её утилизации или вторичной переработки. Данная упаковка позволяет продуктам "Дышать" тем самым продлевая им "Жизнь".
				Природа позаботилась о нас, давайте все вместе позаботимся о ней!!!</p>				
			</div>	
			<div class="products__items row">
				<div class="col-md-4 products__item box-style">
					<div class="item__img" style="background-image: url('images/Image_1.jpg')"></div>
					<div class="item__info">
						<h4>бумажные мешки</h4>
						<ul>
							<li>Для цемента</li>
							<li>Другие сыпучие материалы</li>
							<li>Для сухих строительных материалов</li>
							<li>Бумажные мешки</li>
						</ul>
					</div>
				</div>
				<div class="col-md-4 products__item box-style">
					<div class="item__img" style="background-image: url('images/Image_2.jpg')"></div>
					<div class="item__info">
						<h4>бумажные пакеты</h4>
						<ul>
							<li>Для цемента</li>
							<li>Под сыпучие</li>
							<li>Для угля</li>
							<li>Бумажные мешки</li>
						</ul>
					</div>
				</div>
				<div class="col-md-4 products__item box-style">
					<div class="item__img" style="background-image: url('images/Image_3.jpg')"></div>
					<div class="item__info">
						<h4>клей</h4>
						<ul>
							<li>Для клея</li>							
						</ul>
					</div>
				</div>
			</div>		
		</div> 
	</div>
</section>