<section class="subcategory-product">
	<div class="container">
		<div class="subcategory-product__content">
			<div class="inBoxBreadcrumb__content">
			    <ol class="breadcrumb">
			      <li><a href="#">Главная</a></li>
			      <li><a href="#">Продукты</a></li>
			      <li><a href="#">Название категории</a></li>
			      <li class="active">Название подкатегории</li>
			    </ol>
			</div>
			<h3>Для цемента</h3>
			<div class="subcategory__info">
				<p>Описание</p>
			</div>
			<div class="subcategory row">
				<div class="subcategory__item col-md-6">
					<div class="item__img" style="background-image: url('images/subcategory.jpg')"></div>
					<p class="item__info">Описание</p>
				</div>
				<div class="subcategory__item col-md-6">
					<div class="item__img" style="background-image: url('images/subcategory.jpg')"></div>
					<p class="item__info">Описание</p>
				</div>
				<div class="subcategory__item col-md-6">
					<div class="item__img" style="background-image: url('images/subcategory.jpg')"></div>
					<p class="item__info">Описание</p>
				</div>
				<div class="subcategory__item col-md-6">
					<div class="item__img" style="background-image: url('images/subcategory.jpg')"></div>
					<p class="item__info">Описание</p>
				</div>
			</div>
		</div> 
	</div>
</section>