<section class="vacancy">
	<div class="container">
		<div class="vacancy__content">
			<div class="inBoxBreadcrumb__content">
			    <ol class="breadcrumb">
			      <li><a href="#">Главная</a></li>
			      <li class="active">О компании</li>
			    </ol>
			</div>
			<h3>вакансии</h3>
			<div class="vacancy__item">
				<h5>Фасовщик</h5>
				<p>Требования:</p>
				<p>Мужчина 20 — 35 лет;</p>
				<p>Опыт работы на складах грузчиком -отборщиком приветствуется.</p>
				<p>Опрятный внешний вид, отсутствие судимостей.</p>
				<p>Аккуратность, ответственность, внимательность.</p>
				<p>Условия работы:</p>
				<p>5 -тидневная рабочая неделя</p>
				<p>Выполнение погрузочно-разгрузочных работ, отборка товара</p>				
			</div>
			<div class="vacancy__item">
				<h5>Водитель погрузчика (кара)</h5>
				<p>требуется технический работник. Основные требования: опыт работы не менее 2 лет, аккуратность, исполнительность, навыки работы...</p>
			</div>
		</div> 
	</div>
</section>