.category-product__content {
	width: 100%;
	min-height: 600px;
	background-color: #ffffff;	
	margin-top: 75px;
	margin-bottom: 6rem;
	.default_box-shadow;
	h3 {
		font-family: "Open Sans", sans-serif;
		font-weight: bold;
		font-size: 26px;
		text-align: center;
		text-transform: uppercase;
		color: #5f9921;
		margin-bottom: 2rem;
	}	
	.category-product__subcategory {
		margin-left: 0px;
		margin-right: 0px;
		padding: 2rem;
		.subcategory__item {
			height: 300px;
			border: 10px solid transparent;
			margin-bottom: 6rem;
			.item__img {
				height: 250px;
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
			}	
			a {
				display: inline-block;
				font-family: "Open Sans", sans-serif;
				font-weight: bold;
				font-size: 26px;
				text-align: center;
				text-transform: uppercase;
				color: #5f9921;		
				text-decoration: none;
				margin-top: 1rem;
				transition: all .2s ease-in-out;
				&:hover:before{
		           display: block;
		           position: absolute;
		           content: "";
		           height: 3px;
		           width: 95px;
		           background-color: #5f9921;
		           left: 14px;
		           bottom: -24px;
		        }
			}		
		}		
	}	
}