.category-product__content {
	width: 100%;
	min-height: 600px;
	background-color: #ffffff;	
	margin-top: 75px;
	margin-bottom: 6rem;
	.default_box-shadow;	
	h3 {
		font-family: "Open Sans", sans-serif;
		font-weight: bold;
		font-size: 26px;
		text-align: center;
		text-transform: uppercase;
		color: #5f9921;
		margin-bottom: 2rem;
	}	
	.category-product__subcategory {
		margin-left: 0px;
		margin-right: 0px;
		padding: 2rem;
		.subcategory__item {
			height: 300px;
			border: 10px solid transparent;
			margin-bottom: 6rem;
			.item__img {
				height: 250px;
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
				position: relative;
				&:hover .overlay {
					opacity: .5;
				}
				a.overlay {
					display: block;
				    text-decoration: none;
				    cursor: pointer;
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					height: 100%;
					width: 100%;
					opacity: 0;
					transition: .5s ease;
					background-color: #96b417;
				}
			}	
			a.item__name {
				display: inline-block;
				font-family: "Open Sans", sans-serif;
				font-weight: bold;
				font-size: 26px;
				text-align: center;
				text-transform: uppercase;
				color: #5f9921;		
				text-decoration: none;
				margin-top: 1rem;				
				position: relative;		
			}		
		}		
	}	
}