.slider {
	z-index: 2;
	background-color: #8dba56;
	height: 525px;
    .item {    
        .wrapper__img {               
            height: 525px;
            position: relative;
            .item__img {
                background-repeat:no-repeat;
                /* background-size:contain;  */
                background-size: cover;
                background-position:center;
                width: 100%;
                height: 100%;
                 &:before {
                    content: "";
                    width: 100%;
                    height: 100%;
                    background-color: #a4d468; 
                    background-image: url('/images/squares_shade.png');
                    opacity: 0.8;
                    top: 0px;
                    right: 0px;
                    position: absolute;
                }
            }
            .item__info {
                width: 60%;
                height: 150px;
                position:absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                h2 {
                    font-family: 'Roboto Slab', serif;
                    font-size: 36px;
                    font-weight: bold;
                    text-transform: uppercase;
                    text-align: left;
                    color: #ffffff;
                    text-shadow: 2px 1px 0px rgba(150, 150, 150, 1);
                    margin-bottom: 1.5rem;
                }
                h3 {
                    font-family: 'Roboto Slab', serif;
                    font-size: 34px;
                    text-transform: uppercase;
                    text-align: left;
                    color: #ffffff;
                    text-shadow: 2px 1px 0px rgba(150, 150, 150, 1);
                }
            }
        }
        
    }
    .carousel-indicators {
       bottom: 60px;
       li {
            border-radius: 0px;
            width: 40px;
            height: 6px;
            background-color: #ffffff;
            margin-right: 1.5rem;
            &.active { 
                background-color: #5f9921;
                border-radius: 0px;
                border-color: #5f9921;
            }
        }
    }
    
    .carousel-control {        
        background-image: url('/images/rect.png');
        background-repeat: no-repeat;
        width: 75px;
        height: 90px;
        position: absolute;
        top: 50%;
        margin-top: -38px;
        &.left {
            margin-left: 210px;
        }
        &.right {
            margin-right: 210px
        }
        color: #99dd44;
        &:hover {
            color: #ffffff;
        }
    }
}
.products {
    height: auto;  
    position: relative;
    z-index: 2;    
    .container {
        height: auto;
        .products__content {
            height: 580px;           
            z-index: 3;
            position: relative;
            top: -45px;
            margin-left: 0px;
            margin-right: 0px;
            .default_box-shadow;
        }
    }  
    .products__item-asc {

    }
    .products__item-odd {
        
    }  
    .products__item_info {
        height: 290px;
        padding: 6rem 4rem;
        background-color: #01273e;
        background-image: -webkit-linear-gradient(-135deg, #01273e, #225b7d);
        background-image: -moz-linear-gradient(-135deg, #01273e, #225b7d);
        background-image: -o-linear-gradient(-135deg, #01273e, #225b7d);
        background-image: -ms-linear-gradient(-135deg, #01273e, #225b7d);
        background-image: linear-gradient(-135deg, #01273e, #225b7d);
        h3 {
            font-family: 'Roboto Slab', serif;
            font-size: 24px;
            font-weight: bold;
            color: #99dd44;
            text-align: left;
            text-transform: uppercase;
            position: relative;
            margin-bottom: 4rem;
            &:before{
               display: block;
               position: absolute;
               content: "";
               height: 4px;
               width: 90px;
               background-color: #99dd44;
               left: 0;
               bottom: -16px;
            }
        }

        p {
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;            
            color: #c0d4e5;
            text-align: left;
            margin-bottom: 3rem;
        }
        a {
            display: inline-block;
            font-family: 'Open Sans', sans-serif;
            font-size: 14px; 
            font-weight: bold;
            text-transform: uppercase;
            text-decoration: none;
            border: 1px solid #c0d4e5;
            color: #c0d4e5;
            padding: .7rem;
            transition: all 0.2s ease-in-out;            
            &:hover {
                -webkit-transform: scale(1.1);
                transform: scale(1.1);
                color: #99dd44;
                border: 1px solid #99dd44; 
            }
        }
    }
    .products__item_img {
        height: 290px;    
        position: relative;   
       /*  background-repeat:no-repeat;
       background-size:contain;
       background-position:center; */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        &:hover .overlay {
            height: 290px;
            opacity: .5;
        }   
    }
}


.brands {
    height: 295px;
    .brands__content {
        height: 295px;
    }
    .brands__item {
        width: 20%;
        height: 250px;
        float:left;
        position: relative;
        /* background-repeat:no-repeat;
        background-size:contain; 
        background-size: cover; 
        background-position:center; */
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }
}
.sertificats {
    height: 550px;
    background: url('/images/Bg_1_1920x550.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center;
    position: relative;
    &:before {
        content: "";
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        opacity: 0.8;
        top: 0px;
        right: 0px;
        position: absolute;
    }
    .sertificats__wrapper {
        height: 380px;  
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .sertificats__content {
        position: relative;
    }
    .sertificats__info {
        height: 380px;
        background-color: #ffffff;
        position: relative;
        top: 0;
        left: 2rem;
        padding-top: 8rem;
        padding-left: 2rem;
        text-align: left;
        z-index: 3;
        &:before {
            content: "";
            width: 605px;
            height: 380px;
            background-color: #ffffff;
            top: 0px;
            left: -600px;
            position: absolute;
        }
        h5 {
            font-family: 'Open Sans', serif;
            font-size: 36px;
            color: #6fa930;
            text-transform: uppercase;
            margin-bottom: 2rem;
        }
        p {
            font-family: 'Open Sans', serif;
            font-size: 16px;
            color: #656565;
        }
        .sertificate__logo {
            width: 85%;
            height: 35%;          
            position: absolute;
            bottom: 0;
            right: 15%;
            .logo__item {
                float: right;
                width: auto;
                height: 100%;
            }
        }
        &:after {
            content: "";
            width: 80px;
            height: 20px;
            background-color: #99dd44;
            top: -20px;
            left: 2rem;
            position: absolute; 
        }
    }
    .sertificats__img__wrapper_1 {
        height: 280px;
        position: relative;
        top: 16rem;
        left: -4rem;
        &:after {
            content: "";
            width: 80px;
            height: 80px;
            border-bottom: 10px solid #99dd44;
            border-right: 10px solid #99dd44;
            bottom: -10px;
            right: -10px;
            position: absolute; 
        }
        .sertificats__img_1 {
            height: 100%;
            width: 100%;
            background-repeat:no-repeat;
            background-size: cover;
            background-position:center;
        }
    }
    .sertificats__img__wrapper_2 {
        height: 280px;
        position: relative;
        top: 0rem;
        left: -4rem;
        z-index: 1;
        &:after {
            content: "";
            width: 80px;
            height: 80px;
            background-color: #99dd44;
            top: 40px;
            left: -130px;
            position: absolute;
        }
        &:before {
            content: "";
            width: 80px;
            height: 80px;
            background-color: #0a354f;
            bottom: -120px;
            left: 40px;
            position: absolute;
        }
        .sertificats__img_2 {
            height: 100%;
            width: 100%;
            background-repeat:no-repeat;
            background-size: cover;
            background-position:center;
        }
    }
}

/* Media Queries */
@media only screen and (max-width: 640px) {    
    .products .container .products__content {        
        top: 40px;      
    }       
        
}

@media only screen and (max-width: 768px) {
    .sertificats {
        display: none;
    }   
    .brands__item:nth-child(4) {
        display: none
    }
    .brands .brands__item {
        width: 30%;
        height: 200px;
        border: 5px solid transparent;
        img {
            width: 100%;
        }            
    }
    .brands {
        height: auto;
    }  
    .brands .brands__content {
        height: 160px;
    }
    .products .products__item_info {
        h3 {
            font-size: 30px;
            &:before {
                width: 120px;
                bottom: -25px;
            }
        }
        a {
            display: block;
            margin: 0 auto;
            text-align: center;
            width: 80%;
            height: 70px;
            margin-top: 8rem;
            font-size: 24px;
            padding: 1.7rem;
        }
        p {
            font-size: 20px;
            margin-top: 2rem;
        }
    }
}


@media only screen and (max-width: 768px) and (min-width: 640px) {     
    .products {
        .container {        
           .products__content {
                height: auto;       
            }  
        }
    }
    .products .container .products__content {        
        top: -40px;      
    }  
          
}

@media (min-width: 992px) {
    .products .products__item_info {        
        padding: 3rem 4rem;        
    }
}


@media only screen and (max-width: 992px) and (min-width: 768px) {
    .brands .brands__item {
        width: 25%;
        height: 180px;       
    }
    .brands {
        height: 240px;
    }  
    .brands .brands__content {
        height: 240px;
    }
}

@media only screen and (max-width: 992px) {
    .sertificats .sertificats__info p {
        position: relative;
        font-size: 18px;
        width: 400px;
        right: 4rem;
    }
    .sertificats .sertificats__info {       
        padding-top: 4rem;
        padding-left: 1rem;  
        height: 350px;
        &:before {
            height: 350px;
        }    
    }
    .sertificats .sertificats__info h5 {
        position: relative;
        font-size: 24px;
        right: 2rem;
        margin-bottom: 3rem;
    }
    .sertificats .sertificats__img__wrapper_1 .sertificats__img_1 {
        height: 250px;
    }
    .sertificats .sertificats__img__wrapper_2 .sertificats__img_2 {
        height: 250px;
    }

    .sertificats .sertificats__img__wrapper_1:after {
        bottom: 20px;
    }

    .sertificats .sertificats__info .sertificate__logo {        
        bottom: -60px;        
    }

    .products .products__item_info {
        height: 330px;
    }    
    .brands__item:nth-child(5) {
        display: none
    }  
    .slider .carousel-control.right {
        margin-right: 20px;
    }
    .slider .carousel-control.left {
        margin-left: 20px;
    } 
    .products .products__item_info {        
        padding: 3rem 4rem;        
    }
    .products .products__item_info p {       
        margin-bottom: 2rem;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .sertificats .sertificats__info {       
        padding-top: 4rem;
        padding-left: 0rem;            
    }
     .slider .carousel-control.right {
        margin-right: 80px;
    }
    .slider .carousel-control.left {
        margin-left: 80px;
    }
}


@media only screen and (max-width: 1200px) {
   
}
