// out: null
.rel {
		position: relative;
}

.overlay {
	display: block;
	text-decoration: none;
	cursor: pointer;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: #96b417;
	}

.box-style {
	/* border: 5px solid transparent; */
	border: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.default_box-shadow {
	-webkit-box-shadow: 0px 0px 15px 1px rgba(153,153,153,1);
	-moz-box-shadow: 0px 0px 15px 1px rgba(153,153,153,1);
	box-shadow: 0px 0px 15px 1px rgba(153,153,153,1);
}

.square(@s) {
		width: @s;
		height: @s;
}

.text-bold {
		font-weight: bold;
}

.link-style-block(@color) {
	&:hover {
		background-color: @color;
	}
	&:active {
		background-color: @color;
	}
	&:focus {
		background-color: @color;
	}
	&:visited {
		background-color: @color;
	}
}
.link-style-text(@color) {
	&:hover {
		color: @color;
	}
	&:active {
		color: @color;
	}
	&:focus {
		color: @color;
	}
	&:visited {
		color: @color;
	}
}