// out: null


// Paths
@i: "../i/";
@bootstrap: "../../bower_components/bootstrap/less/";
@fonts: "fonts/";


// Font sizes
@regular: 16px;

// Font colors
@base_color: #000;

// Background colors
@white: #fff;

// Base color
@base_bg_color: #6fa930;
